@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
  *{
    font-family: 'Source Sans Pro', sans-serif;
    color:#000;
  }
  a {
    list-style-type: none;
    text-decoration: none;
    color: #fff !important;
  }
  .active {
    color: #05270e !important;
  }
  .title {
    width: 50%;
    margin: 40px auto;
    color:#39a356;
  }
  .title h2 {
    text-align: center;
  }
  .titleh5, i{
    color:#39a356;
  }
  i{
    font-size: 20px;
    padding: 15px;
  }
  .ale{
    margin: 0px !important;
  }
  .title-2 {
    font-size: 23px;
    text-align: center;
  }
  .bg-header{
    background-color: #31cc5b;
  }
  .bg-footer{
    background-color: #05270e;
  }
  .bg-diets{
    background-color: rgba(49, 204, 91, 0.5);
  }
  .bg-diets p, .bg-diets h2{
    color:#000;
  }
  .position-fixed{
    position: fixed!important;
    z-index: 10;
    border-bottom: 3px solid #fff;
  }
  .carousel-caption {
    background-color: rgba(4, 85, 26, 0.9) !important;
    transform: translate(40%, -35%);
    border-radius: 25px;
    width: 40% !important;
    bottom: 25% !important;
   }
   .image-caption{
    background: none !important;
    transform: translate(40%, 15%);
   }
  h1{
    font-size: 30px;
  } 
  .picture{
    border-radius: 20%;
    width: 70%;
  }
  .products{
    width: 80%;
    border-radius: 20%;
  }
  .white1{
    color:#fff;
  }
  .black1{
    color: #000;
  }
  #back-contact, #back-products, #back-author{
    background-size: cover;
    height: 450px;
    background-attachment: fixed;
  }
  #back-contact{
    background-image: url("../img/meals.jpg");
    background-position-y:bottom;
  }
  #back-products{
    background-image: url("../img/meals2.jpg");
    background-position-y:top;
  }
  #back-author{
    background-image: url("../img/pen.jpg");
  }
  .darkk{
    background-color: rgba(0, 0, 0, 0.65);
  }
  .card-body img {
    margin: 0px auto;
    display: block;
  }
  footer p {
    color: #fff;
    font-size: 14px;
  }
  footer ul {
    list-style-type: none;
  }
  .card {
    height: 100%;
    border: none !important;
  }
  .icon {
    font-size: 50px !important;
  }
  .buttonn {
    background-color: #044a17;
    color: #fff;
  }
  .blok{
    margin-bottom: 7%;
    border-radius: 10px;
    background-color: rgba(49, 204, 91, 0.2);
   }
    @media screen and (max-width: 1200px){
        .pic{
            width: 70% !important;
            text-align: center;
        }
        .me{
            width: 100%;
        }
        .me img{
            width: 40%;
            display: block;
            margin: 0px auto;
        }
        .centering1{
            text-align: center;
            width: 100%!important;
        }
    }  
    @media screen and (max-width: 992px){
        .centering2{
            text-align: center;
            width: 100%!important;
        }
    }
    @media screen and (max-width: 950px) {
            #indexCarousel, .backg{
                display:none;
            }
            #header{
                position: relative !important;;
            }
            .lit{
                width:50%;
            }
            .title{
                width:100%;
                margin: 20px 0px;
            }
            .hfd{
                font-size: 25px !important;
            }
            .copyright{
                width: 100% !important;
                text-align: center;
            }
            .icons i{
                font-size: 16px;
            }
            .pic{
                width: 95% !important;
            }
            .me img{
                width: 50%;
            }
    }
    @media screen and (max-width: 650px){
        .tekst{
            width: 100% !important;
            text-align: center;
            display: block;
        }
        .slika{
            width: 100%;
        }
    }
    @media screen and (max-width: 480px){
        .icons i{
            padding: 0px;
        }
        .plate{
            width: 130%;
            font-size: 15px;
        }
        .me img{
            width: 70%;
        }
    }/*# sourceMappingURL=style.css.map */